{%- comment -%}
	Include vars:
	paper_link
	paper_title
	authors
	published_at
	pdf_img
	pdf_img_alt
	bibtex
	side
{%- endcomment -%}

{%- assign _paper_link = include.paper_link | default: 'https://arxiv.org/' -%}
{%- assign _paper_title = include.paper_title | default: 'Paper title' -%}
{%- assign _authors = include.authors | default: 'Authors' -%}
{%- assign _published_at = include.published_at | default: 'Proceedings' -%}
{%- assign _side = include.side | default: 'left' -%}
{%- assign _pdf_img = include.pdf_img | default: 'assets/images.default_pdf_img.png' -%}
{%- assign _pdf_img_alt = include._pdf_img_alt | default: 'Default image alt' -%}

{%- if _side == 'right' -%}
	<div class='row' style='margin: auto;  display: flex; flex-wrap: wrap; justify-content: center;'>
		<div class='col-sm-8 column-publication-right'>
				<h4 style="font-size: 110%"><a href="{{- _paper_link -}}" target="_blank">{{- _paper_title -}}</a></h4>
				<p style='margin: auto'>{{- _authors -}}<br>Published at &nbsp {{- _published_at -}}</p>
		</div>
		<div class='col-sm-4 column-publication-img'>
				<a href="{{- _paper_link -}}" style="border-bottom: none; target="_blank"">
						<img src="{{- _pdf_img -}}" alt="{{- _pdf_img_alt -}}" border="0" style="max-height: 12em">
				</a>
		</div>
	</div>
{%- else -%}
	<div class='row' style='margin: auto;  display: flex; flex-wrap: wrap; justify-content: center;'>
	    <div class='col-sm-4 column-publication-img'>
				<a href="{{- _paper_link -}}" style="border-bottom: none; target="_blank"">
						<img src="{{- _pdf_img -}}" alt="{{- _pdf_img_alt -}}" border="0" style="max-height: 12em">
				</a>
		</div>
	    <div class='col-sm-8 column-publication-left'>
				<h4 style="font-size: 110%"><a href="{{- _paper_link -}}" target="_blank">{{- _paper_title -}}</a></h4>
				<p style='margin: auto'>{{- _authors -}}<br>Published at &nbsp {{- _published_at -}}</p>
		</div>
	</div>
{%- endif -%}

{%- if include.bibtex -%}
<div class='row' style='max-width: 100%; margin: auto; display: flex; flex-wrap: wrap; justify-content: center;'>
    <div class='col-sm-auto' style='max-width: 100%''>
    <div class="language-plaintext highlighter-rouge">
            <div class="highlight">
                <pre class="highlight" style="margin: auto">
                    <code style='text-align: left'>{{- include.bibtex -}} </code>
                </pre>
            </div>
        </div>
    </div>
</div>
{%- endif -%}
